:root {
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --hover-text-color: #ffffff;
    --accent-color: #2196F3;
    --primary-background-color: #F5F4FA;
    --secondary-background-color: #2F303A; 
    --hero-color: #ffffff;
}

/* Цвет заголовков #212121 */

/* Цвет основного текста #757575 */

 /* белый #ffffff  */

/* акцент #2196F3  */

/* Цвет основного фона #F5F4FA */

/* Цвет дополнительного фона #2F303A */


    /* site-nav */

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primery-text-color);

}

/* header start */

.container-header {
    width: 1200px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    background-color: tomato;
    display: flex;
    justify-content: space-between;
}

.container-nav {
    display: flex;
    align-items: center;
    
}


.section-address a:hover {
    color: #2196F3;
}

.section-address ul {
    padding-inline-start: 15px;
    margin-top: 0px;
    list-style: none;


}

.logo span {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--accent-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;


}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;

    min-width: 145px;
    max-width: 170px;
    
}


.logo:hover {
    color: #2196F3;
}

.site-nav .link.curent {
    font-family: 'Roboto';
    color: var(--accent-color);
}

.list {
    list-style: none;
}


.site-nav a {
    color:var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    text-decoration: none;

}
.contacts a {
    color: var(--primery-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
    color: var(--accent-color);
}

.site-nav.list {
    display: flex;
}

.container-nav .logo {
    margin-left: 15px;
    margin-right: 93px;
}

.site-nav.list li:not(:last-child) {
    margin-right: 50px;
}

.contacts a:hover,
.contacts a:focus {
    color: var(--accent-color);
}

.contacts.list {
    display: flex;
    margin-right: 11px;
    align-items: center;
}

.contacts.list li:not(:last-child) {
    margin-right: 50px;
}


/* header end */


.section-title {
    color: var(--title-text-color);
}


    /* потім прибрати фон */


.hero {
    background-color: gray;

}

.container-hero {
    width: 1200px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}


    /* Hero */


.hero-title {    
    color: var(--hero-color);
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;



    display: flex;
    padding-top: 200px;
    margin-left: 252px;
    margin-right: 252px;
    margin-top: 0px;
    padding-left: 43px;
}
.btn {
    color: #FFFFFF;
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;

    border-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    
    margin-right: 20px;
    margin-left: 492px;

}

.btn:hover {
    background: #188CE8;

}


    /* Переваги */


.visually-hidden {
        position: absolute; 
        white-space: nowrap; 
        width: 1px; height: 1px; 
        overflow: hidden; border: 0; 
        padding: 0; clip: rect(0 0 0 0); 
        clip-path: inset(50%); 
        margin: -1px;
    
    }

.benefits.list .section-title {
        color: var(--title-text-color);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
    
.benefits.list .section-text {
        color: var(--primery-text-color);
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
    }

.container-benefits {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 94px;
}

.benefits.list  {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
}

.benefits.list:first-child {
    padding-left: 15px;
}

.benefits.list li:not(:last-child) {
    padding-right: 30px;
}


    /* Послуги */


.container-projects {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 94px; 
}

.project-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;

    display: inline;
    margin-left: 415px;
    margin-bottom: 50px;
    padding-top: 0px;
    }

ul.project.list {
    display: flex;
    padding-left: 15px;
    margin-bottom: 0px;
}

.project.list  li:not(:last-child) {
    margin-right: 30px;
    }


    /* Команда */


.section.heands {
    background-color: #F5F4FA;
}

.container-heands {
    width: 1200px;
    height: 648px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 94px;
    padding-bottom: 94px;
}

ul.heands.list {
    display: flex;
    padding-left: 15px;
}


.heands.list li:not(:last-child) {
    margin-right: 30px;
}

.heands.list li {
    text-align: center;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.section.heands h2 {
    color: var(--title-text-color);
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;

    margin-top: 94px;
}

.heands-list h3 {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.heands.list li {
    background-color: #FFFFFF;
}

.position {
    color: var(--primery-text-color);
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}




    /* Футер */



.section-footer {
    background-color: var(--secondary-background-color);
    }
    
.section-address .item {
    color: #FFFFFF;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    }
    
.section-address .mail,
.section-address .tel {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;   
    }
 
    .section-footer {
        background-color: var(--secondary-background-color);
      
    }
    
    .container-footer {
        width: 1200px;
        height: 252px;
        margin-left: auto;
        margin-right: auto;
     
    }
    
    .container-footer .logo {
        display: inline-block;
        margin-top: 60px;
        margin-left: 15px;
        margin-bottom: 20px;
    }
