:root {
    --primery-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #F5F5F5;
    color: var(--primery-text-color);

}

.logo span {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--accent-color);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,2;
    letter-spacing: 0.03em;
}
.logo:hover {
    color: #2196F3;
}
.logo span:hover {
    color: #000000;
}

.site-nav .link.curent {
    color: var(--accent-color);
}


.list {
    list-style: none;
}
/* Цвет заголовков #212121 */

/* Цвет основного текста #757575 */

 /* белый #ffffff  */

/* акцент #2196F3  */

/* Цвет основного фона #F5F5F5 */

/* Цвет дополнительного фона #F5F4FA */


    /* site-nav */
    .site-nav a {
        color:var(--title-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1,4;
        letter-spacing: 0.02em;
        text-decoration: none;
    }
    .contacts a {
        color: var(--primery-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1,4;
        letter-spacing: 0.02em;
        text-decoration: none;
}

.site-nav a:hover,
.site-nav a:focus {
    color: var(--accent-color);
}

.contacts a:hover,
.contacts a:focus {
    color: var(--accent-color);
}

.section-title {
    color: var(--title-text-color);
}

    /* Hero */

.hero-title {
    
    /* потім прибрати фон */
    
    background-color: var(--accent-color);

    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.btn {
    color: #FFFFFF;
    background-color: var(--accent-color);
    font-family: inherit;
    border-color: var(--accent-color);
    box-shadow:hsla(0, 0%, 0%, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background: #188CE8;

}

    /* Переваги */

    .benefits.list .section-title {
        color: var(--title-text-color);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
    
    .benefits.list .section-text {
        color: var(--primery-text-color);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
    }


    /* Послуги */

    .project-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    }

    .project.list p {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }

    /* Команда */

.section.heands h2 {
    color: var(--title-text-color);
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.heands-list h3 {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}

.position {
    color: var(--primery-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

    /* Футер */

.address {
    font-family: 'Roboto';
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

}

